@import url("https://fonts.googleapis.com/csss?family=Nunito:400,700&display=swap");

body {
  margin: 0;
  height: 100vh;
  background: #bfd1d9;
  display: grid;
  justify-items: center;
  align-items: center;
  font-family: "Nunito", sans-serif;
}

.container {
  background: white;
  width: 50%;
  padding: 1em;
  border-radius: 10px;
  height: 5%;

  h1,
  img,
  .price {
    display: inline-block;
    margin: 0;
  }

  .price {
    float: right;
    font-size: 1.7em;
    color: #008bf5;
  }

  img {
    cursor: pointer;
    margin-left: 10px;
    width: 28px;
  }

  .info {
    //display: none;
  }
}

.item {
  margin: 2em 0;
  display: grid;
  grid-template-columns: 75% auto;

  a {
    text-decoration: none;
    color: #008bf5;
    font-size: 1.3em;
  }

  .subprice {
    text-align: right;
    font-size: 1.2em;
  }

  .description p {
    margin: 0;
  }
}
