@import url("https://fonts.googleapis.com/csss?family=Nunito:400,700&display=swap");

body {
  margin: 0;
  height: 100vh;
  background: #bfd1d9;
  display: grid;
  justify-items: center;
  align-items: center;
  font-family: "Nunito", sans-serif;
}

.container {
  background: white;
  width: 50%;
  padding: 1em;
  border-radius: 10px;
}
